/*Document Styling*/
body{ 
    padding: 0;
    margin: 0;

    font-family: 'Poppins';

    overflow-x: hidden;
}
/*Navigation Bar*/
nav {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Poppins", sans-serif;

    background: white;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    color: rgb(87, 87, 87);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.nav-links .active{
    color:rgb(0, 114, 207);
}
/*Hero Section*/
.hero{
    background-color: rgb(0, 140, 255);
    height: 70vh;
    width: 100vw;
}

.hero-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 

    text-align: center;
    text-transform: capitalize;
}

/*Main Focus Section*/
.action-sta{
    text-align:center;
    padding: 5%;
}

.title-text{
    text-transform: uppercase;
}

.title-text h5{
    color: #00A9FF;
}

.title-text h1{
    font-weight: bold;
}

.flex-grid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-1{
    height: 250px;
    width: 300px;

}

.item{
    height: 250px;
    width: 300px;

}

.more-btn{
    color: #00A9FF;
    background-color: transparent;
    border-radius: 15px;
    border-color: #00A9FF;

    width: 100px;
    padding: 10px;

    font-size: 16px;
    font-weight: bold;
}