body{ 
    padding: 0;
    margin: 0;

    font-family: 'Poppins';
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    justify-content: space-around;
    display:flex;
}

.nav-links li{
list-style-type: none;
}

.action-sta{
    text-align:center;
}