/*Document Styling*/
body{ 
    padding: 0;
    margin: 0;

    font-family: 'Poppins';

    overflow-x: hidden;
}

.title-text{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.title-text > h5{
    color: #00A9FF;
}

.title-text > h1{
    font-weight: bold;
}

hr{
    height: 1px;
    width: 100%;
    color: rgba(0, 0, 0, 0.13);
    opacity: 50%;
}

.btn{
    color: #00A9FF;
    background-color: transparent;
    border-radius: 15px;
    border-width: 2px;
    border-color: #00A9FF;

    width: 100px;
    padding: 10px 20px;

    font-size: 14px;
    font-weight: bold;

    display: block;
    margin: 0 auto;
}

/*Navigation Bar*/
nav {
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Poppins", sans-serif;

    background: white;
}
.nav-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    color: rgb(87, 87, 87);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.nav-links .active{
    color:rgb(0, 114, 207);
}
/*Hero Section*/
.hero{
    background-color: rgb(0, 140, 255);
    height: 70vh;
    width: 100vw;
}

.hero-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 

    text-align: center;
    text-transform: capitalize;
}

/*Main Focus Section*/
.action-sta{
    text-align:center;
    padding: 5%;
}

.flex-grid{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;

}

.item, .item-1{
    padding: 50px 20px 50px 20px;
    height: 300px;
    width: 300px;
}

.item img, .item-1 img{
    border: 2px solid #00A9FF;
    border-radius: 15px;
    padding: 20px;

    height: 48px;
    width: 48px;
}

.item-1{    
    border: 1px solid rgba(0, 0, 0, 0.418);
    border-radius: 25px;
}

.item{
    border: 0.5px solid rgba(0, 0, 0, 0.185);
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.more-btn{
    color: #00A9FF;
    background-color: transparent;
    border-radius: 15px;
    border-width: 2px;
    border-color: #00A9FF;

    width: 100px;
    padding: 10px;

    font-size: 16px;
    font-weight: bold;
}

/*Our Property Section*/
.property-card{
    border: 1px solid transparent;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-container{
    padding: 10px 20px;
}
.property-card > img {
    width: 400px;
    height: auto;
    
    border-radius: 15px 15px 0 0;
}

.property-title{
    display: flex;
    justify-content: space-between;
}

.property-title > p{
    color:#00A9FF;
    font-weight: bolder;
}

.property-desc{
    display: flex;
    justify-content:flex-start;
    column-gap:10px;
}
